<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RequiredToken" value="fd3b9bcffea1d41da0e95fc7ce01d656" />
    <add key="CustomerPostPath" value ="http://localhost:45891/api/reflector"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
